section.about {
  min-height: 100vh; // TODO Remove
  align-items: flex-start;
  .learning, .fiona {
    width: 100%;
  }

  .left {
    width: 60%;
  }

  .right {
    width: 40%;
  }

  @media (max-width: 900px) {

    .learning, .fiona {
      flex-direction: column;
    }

    .left, .right {
      width: 100%;
    }

    div.learning {
      padding: 1rem;
      text-align: center;

      .content {
        align-items: center;
        padding: 0;
        display: flex;
        flex-direction: column;
        p.text {
          max-width: 35rem;
          width: 100%;
        }
      }
    }

    div.fiona {
      margin-top: 1rem;
      text-align: center;

      .content {
        align-items: center;
        padding: 0;
        display: flex;
        flex-direction: column;
        p.text {
          max-width: 35rem;
          width: 100%;
        }
      }

      .ctn-img {
        padding: 1rem;
        display: flex;
        justify-content: center;
        .ctn-portrait {
          max-width: 25rem;
          width: 100%;
        }
      }

      .bottom-mention {
        position: relative;
        padding: 1rem;
        width: 100%;
        flex-wrap: wrap;

        .content {
          max-width: 16rem;
          width: 100%;
          padding: 1rem;

        }
      }
    }
  }

  .ctn-img {
    .ctn-zebra {
      position: relative;
      max-width: 500px;
      .zebra {
        width: 100%;
        display: block;
      }
    }

    .ctn-portrait {
      width: 100%;

      img {
        width: 100%;
      }
    }
  }

  .content {
    padding-right: 1rem;
  }

  .fiona {
    margin-top: -8rem;
    position: relative;
    .content {
      padding-left: 10%;
      align-items: flex-start;
    }

    .bottom-mention {
      position: absolute;
      width: 75%;
      left: 0;
      bottom: 0;
      background-color: white;
      padding: 1rem;
      padding-left: 7.5%;
      align-items: flex-start;

      .content {
        padding: 2rem;
        width: 33%;
      }
    }
  }
}
