section.artist {
  text-align: center;
  padding: 10rem 0;

  h2 {
    padding: 0 1rem;
  }

  .phantom-artist-container {
    margin-top: 4rem;
    position: relative;
    height: 400px;
    overflow-x: hidden;
    .ctn-artists {
      position: absolute;
      left: 150px;
      top: 0;
      height: 100%;
      cursor: crosshair;
      transition: 0.5s;

      &::after {
        content: '';
        position: absolute;
        top: 0;
        left: 0;
        width: 100%;
        height: 100%;
        z-index: 2000;
      }

      .ctn-artist {
        height: 100%;
        width: 230px;
        align-items: flex-start;

        &.top {
        }

        &.bottom {
          flex-direction: column-reverse;
          &:first-child {
            transform: none;
          }
        }

        img {
          width: 15rem;
        }

        .artist-name {
          font-family: $f-title;
          margin: 1rem 0;
        }

        &:not(:first-child) .artist-name {
          margin-left: 1rem;
        }
      }
    }
  }
}
