footer {
  width: 100%;
  .map-container {
    width: 50%;
  }

  .info {
    padding: 2rem;
    width: 50%;
    align-items: flex-end;
    text-align: right;

    .ctn-socials {
      padding-bottom: 1rem;

      .ctn-social {
        img {
          width: 2rem;
        }
      }
    }

    .details {
      margin-bottom: 2rem;
      align-items: flex-end;

      div {
        margin-bottom: 0.3rem;
      }
    }

    .prefect {
      font-style: italic;
    }
  }

  @media (max-width: 700px) {
    &.frow {
      flex-direction: column;
      .map-container {
        width: 100%;
      }

      .info {
        width: 100%;
        align-items: center;

        .details {
          align-items: center;
        }

        text-align: center;
      }
    }
  }
}
