section.quote {
  min-height: 70vh;
  justify-content: space-between;

  img {
    width: 100%;
  }

  .quotation {
    font-size: 2.5rem;
    .cites {
      text-align: center;
    }

    .artist {
      text-align: center;
      font-style: italic;
    }
  }
}
