section.quote {
  min-height: 80vh;
  justify-content: space-between;

  img {
    width: 100%;

    &.border-bottom {
      transform: rotate(180deg);
    }
  }

  .quotation {
    font-size: 2.5rem;
    font-family: $f-title;
    line-height: 2.8rem;

    .cites {
      text-align: center;
    }

    .artist {
      text-align: center;
      font-style: italic;
    }
  }

  @media (max-width: 900px) {
    min-height: auto;

    .quotation {
      padding: 2rem;
      font-size: 1.5rem;
    }
  }
}
