section.references {
  h2 {
    font-size: 2.5rem;
    margin-bottom: 1rem;
  }

  .ctn-references {
    width: 100%;
    background-color: $green;

    .sprt {
      width: 100%;
      margin: 0;
      padding: 0;
      // TODO : Find why this fucking white space is going here...
      &:nth-child(3) {
        transform: translateY(4px);
      }
    }

    .references {
      padding: 6rem 2rem;

      .brand {
        max-width: 20rem;
      }

      .inner-references {
        padding: 0 6rem;
        margin-top: 2rem;
        flex-wrap: wrap;
        .reference {
          margin: 1rem;
          font-size: 1.3rem;
          color: white;
          font-family: $f-title;
        }
      }
    }
  }

  @media (max-width: 900px) {
    .ctn-references {
      .references {
        padding: 2rem;

        .inner-references {
          padding: 0;
        }
      }
    }

    @media (max-width: 700px) {
      .ctn-references {
        .references {
          .inner-references {
            .reference {
              margin: 0.5rem;
              font-size: 1rem;
            }
          }
        }
      }
    }
  }
}
